In [82]:
import pandas as pd

In [3]:
df = pd.read_csv("F:\\Dataset\\Advertising.csv")

In [83]:
df1 = df.copy()

In [86]:
df1.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [87]:
df1.tail()

        TV  Radio  Newspaper  Sales
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

In [92]:
df1.sample(5)

        TV  Radio  Newspaper  Sales
57   136.2   19.2       16.6   13.2
120  141.3   26.8       46.2   15.5
178  276.7    2.3       23.7   16.8
62   239.3   15.5       27.3   20.7
19   147.3   23.9       19.1   14.6

In [94]:
df1.describe().T

           count      mean        std  min     25%     50%      75%    max
TV         200.0  147.0425  85.854236  0.7  74.375  149.75  218.825  296.4
Radio      200.0   23.2640  14.846809  0.0   9.975   22.90   36.525   49.6
Newspaper  200.0   30.5540  21.778621  0.3  12.750   25.75   45.100  114.0
Sales      200.0   15.1305   5.283892  1.6  11.000   16.00   19.050   27.0

In [95]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [96]:
df1.dtypes

TV           float64
Radio        float64
Newspaper    float64
Sales        float64
dtype: object

In [97]:
df1.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [98]:
df1.count()

TV           200
Radio        200
Newspaper    200
Sales        200
dtype: int64

In [104]:
df1.shape

(200, 4)

In [99]:
df1.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [100]:
X = df1.iloc[:,:3]

In [101]:
X

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [102]:
y = df1.Sales

In [103]:
y

0      22.1
1      10.4
2      12.0
3      16.5
4      17.9
       ...
195     7.6
196    14.0
197    14.8
198    25.5
199    18.4
Name: Sales, Length: 200, dtype: float64

In [34]:
from sklearn.model_selection import train_test_split

In [105]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=45 )

In [106]:
x_train

        TV  Radio  Newspaper
97   184.9   21.0       22.0
174  222.4    3.4       13.1
138   43.0   25.9       20.5
67   139.3   14.5       10.2
175  276.9   48.9       41.8
..     ...    ...        ...
95   163.3   31.6       52.9
32    97.2    1.5       30.0
124  229.5   32.3       74.2
131  265.2    2.9       43.0
158   11.7   36.9       45.2

[160 rows x 3 columns]

In [107]:
x_test

        TV  Radio  Newspaper
45   175.1   22.5       31.5
72    26.8   33.0       19.3
40   202.5   22.3       31.6
58   210.8   49.6       37.7
25   262.9    3.5       19.5
13    97.5    7.6        7.2
153  171.3   39.7       37.7
80    76.4   26.7       22.3
3    151.5   41.3       58.5
44    25.1   25.7       43.3
134   36.9   38.6       65.6
149   44.7   25.8       20.6
173  168.4    7.1       12.8
33   265.6   20.0        0.3
62   239.3   15.5       27.3
182   56.2    5.7       29.7
112  175.7   15.4        2.4
129   59.6   12.0       43.1
69   216.8   43.9       27.2
190   39.5   41.1        5.8
133  219.8   33.5       45.1
172   19.6   20.1       17.0
35   290.7    4.1        8.5
157  149.8    1.3       24.3
187  191.1   28.7       18.2
10    66.1    5.8       24.2
104  238.2   34.3        5.3
177  170.2    7.8       35.2
26   142.9   29.3       12.6
171  164.5   20.9       47.4
147  243.2   49.0       44.3
0    230.1   37.8       69.2
109  255.4   26.9        5.5
194  149.7   35.6        6.0
151  121.0    8.4       48.7
82    75.3   20.3       32.5
64   131.1   42.8       28.9
169  284.3   10.6        6.4
4    180.8   10.8       58.4
28   248.8   27.1       22.9

In [108]:
x_train.shape

(160, 3)

In [109]:
x_text.shape

(40, 3)

In [110]:
y_train.shape

(160,)

In [111]:
y_test.shape

(40,)

In [112]:
from sklearn.preprocessing import StandardScaler

In [113]:
scale = StandardScaler()

In [114]:
x_train_scl = scale.fit_transform(x_train)

In [115]:
x_test_scl = scale.transform(x_text)

In [119]:
x_test_scl.shape

(40, 3)

In [118]:
x_train_scl.shape

(160, 3)

In [120]:
from sklearn.linear_model import LinearRegression

In [122]:
lr = LinearRegression()

In [123]:
lr.fit(x_train_scl, y_train)

LinearRegression()

In [ ]:
#y = mx + c

In [ ]:
y = c + m1x1 + m2x2 + m3x3

In [58]:
lr.coef_

array([ 4.84135833,  1.63460098, -0.09668974])

In [59]:
lr.intercept_

14.986250000000002

In [124]:
y_pred = lr.predict(x_test_scl)

In [126]:
lr.score(x_test_scl, y_test)

0.849507759291737

In [125]:
y_pred.shape

(40,)

In [127]:
comparison_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
comparison_df.head()

    Actual  Predicted
45    16.1  16.620101
72     8.8   9.535547
40    16.6  18.127054
58    23.8  21.525682
25    17.0  19.510153

In [128]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [129]:
import numpy as np

In [74]:
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

In [77]:
print(f"MAE:  {mae:.2f}")
print(f"MSE:  {mse:.2f}")
print(f"RMSE: {rmse:.2f}")
print(f"R²:   {r2:.2f}")

MAE:  1.39
MSE:  3.04
RMSE: 1.74
R²:   0.85

In [133]:
from sklearn.linear_model import Lasso, Ridge, ElasticNet

In [134]:
l1 = Lasso()

In [135]:
l1.fit(x_train_scl, y_train)

Lasso()

In [136]:
l1.intercept_

14.986250000000002

In [137]:
l1.coef_

array([3.89391541, 0.65829536, 0.        ])

In [138]:
l1.score(x_test_scl,y_test)

0.8228585541700364